/* CSS 검사를 돌려보는 것도 좋을 것 같아! */
/* https://jigsaw.w3.org/css-validator/ */

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  margin: 0;
  padding: 0;

  font-family: "Do Hyeon", sans-serif;
  font-weight: 300px;
}

p {
  margin: 0;
}

/* 이렇게 태그를 css 선택자로 두면, 서비스가 커질 수록 에러가 날 가능성이 높아져! */
/* 그래서 css를 적용할 태그들에 모두 class name 을 선언하고, class 선택자로 css 를 적용하면 좋아 */
.header {
  /* width 100% 는 block 태그의 기본 속성으로, 지워도 좋을 것 같아! */
  height: 80px;

  padding: 5px 0 0 0;
  /* padding을 5 0 5 0 으로 주니까 가운데가 안맞춰져서 . . .  */

  background-color: blueviolet;
  color: white;

  text-align: center;
  line-height: 80px;

  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-around;
}

nav,
.cart {
  border-radius: 20px;
}

.leftbox {
  width: 10%;
}

.brand {
  width: 100%;
  height: 130px;

  margin-top: 17px;

  background-color: rgba(221, 160, 221, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand strong {
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 15px;
}

.brand button {
  width: 80%;
  height: 18%;
  margin-bottom: 10px;

  border: none;
  border-radius: 7px;

  font-weight: bold;
  background-color: rgba(186, 85, 211, 0.8);
  text-align: center;
}

.brand button:hover {
  cursor: pointer;

  background-color: #fff;
}

section {
  width: 65%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu {
  width: 49%;
  height: 200px;

  margin: 20px 0px 40px 0px;

  border-radius: 10px;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);

  background-color: #fff;

  display: flex;
  align-items: center;
}

.menu:hover {
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger_img {
  margin: 20px 10px 20px 70px;

  width: 150px;
  height: 130px;
}

div.text_wrapper {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
}

strong.burger_name {
  font-weight: 700;
  font-size: 23px;
}

p.burger_price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
}

.rightbox {
  width: 20%;
}

.cart {
  width: 100%;
  height: 250px;

  margin-top: 17px;

  background-color: rgba(255, 192, 203, 0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: sticky;
  top: 15px;
}

.cart strong {
  font-size: 25px;

  padding-left: 20px;

  margin-bottom: 30px;
}

.cart p {
  padding-left: 20px;

  margin-top: 3px;
}

.cart .cart_buttons {
  margin-top: 10px;

  width: 100%;

  display: flex;
  justify-content: center;
}

.cart button {
  width: 30%;

  margin: 0 5px 0 3px;

  border: none;
  border-radius: 7px;

  background-color: rgba(213, 100, 141, 0.5);
  color: #fff;

  font-weight: bold;
}

.cart button:hover {
  cursor: pointer;

  background-color: #fff;
  color: black;
}

.cart hr {
  background: #fff;
  height: 2px;
  border: none;
  width: 90%;
}

.order_modal_wrap {
  width: 400px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
}

.order_modal_body {
  width: 100%;
  height: 100%;

  border-radius: 30px 30px 30px 30px;

  background-color: rgb(252, 149, 139);

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_modal_btn {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.order_modal_yes,
.order_modal_no {
  width: 45%;

  border: none;
  border-radius: 7px;

  background-color: rgba(213, 100, 141, 0.5);
  color: black;

  font-weight: bold;
}

.order_modal_yes a {
  text-decoration: none;
  color: black;
}

.order_modal_yes a:hover {
  color: black;
}

.order_modal_yes:hover,
.order_modal_no:hover {
  cursor: pointer;
  background-color: #fff;
}
